.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  font-family: 'Roboto';
  color: white;
  font-size: 50px;
}
.profile-conatiner {
  display: flex;
  flex-direction: row;
}
.btn {
  background-color: transparent;
  border-width: 0px;
}
.left-arrow {
  height: 30px;
  width: 30px;
}
.right-arrow {
  height: 30px;
  width: 30px;
}
.person-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile {
  height: 150px;
  width: 150px;
}
.username {
  font-family: 'Roboto';
  font-weight: bold;
  color: white;
  font-size: 25px;
}
.companyName {
  font-family: 'Roboto';
  font-size: 20px;
}
.description {
  font-family: 'Roboto';
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
